/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

nav {}

nav a {
    font-size: 18px;
    color: white;
    padding: 16px 6px;
    vertical-align: middle;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}
nav a:hover {
    text-decoration: none;
    color: white;
    background-color: #F06292;
}
nav a:focus{
    text-decoration: none;
        color: white;
}
