p {

}
bs-progress {
  margin-bottom: 0px;
  display:block;
  width:auto;
  background-color: lightgray;
}
i {
  margin-left: 10px;
}
.nowrap{
    white-space: nowrap;
}
.course-header{
    display:inline-block;
    float:left;
    margin-right: 10px;
    word-wrap: normal;
    width: 44mm;
    overflow: hidden;
}
