p {}

bs-progress {
    margin-bottom: 0px;
    display: block;
    width: auto;
    background-color: lightgray;
}

i {
    margin-left: 10px;
}

.nowrap {
    white-space: nowrap;
}
.no-margin-top{
    margin-top: 0px;
}

.course-header {
    display: inline-block;
    margin-right: 10px;
    word-wrap: normal;
    overflow: hidden;
}

@media screen and (min-width: 767px) {}
    .course-header {
        float: left;
        width: 70mm;
    }
@media screen and (max-width: 768px) {
    .course-header {
        float: none;
        width: 100%;
    }
}
