<h1>Courselist</h1>
<div>
  <accordion>
  <accordion-group heading="Static Header, initially expanded">
    This content is straight in the template.
  </accordion-group>
  <accordion-group #group>
    <div accordion-heading>
      <p>Kurssi 1</p>
      <i class="pull-right glyphicon glyphicon-trash"></i>
      <progress class="progress" value="55" max="100"></progress>
    </div>
    Additional course information here
  </accordion-group>
  <accordion-group heading="Content 1">
    <p>Content 1</p>
  </accordion-group>
  <accordion-group heading="Content 2">
    <p>Content 2</p>
  </accordion-group>
</accordion>
</div>
<bs-progress>
  <bar *ngFor="let baz of stacked" [value]="baz.barvalue" [type]="baz?.type">
    <span *ngIf="baz.barvalue > 5">{{baz?.barvalue}}%</span>
  </bar>
</bs-progress>
