<h1>Calender</h1>
<div class="calender">
  <div class="calender-nav">
    <!--button>Month</button-->
    <div>Show schedule by week</div>
    <button (click)="this.day('7777777')" onclick="location.reload();">Week</button>
    <button (click)="this.day('333')" onclick="location.reload();">3 Days</button>
    <button (click)="this.day('1')" onclick="location.reload();">Day</button>
  </div>
  <div class="calender-day" *ngFor="let day of view">
    <hr class="timeline" style="position: ;">
    <div class="calender-header">
      <div class="calender-weekday">{{ day.date | date:'EEEE dd.MM.y' }}</div>
    </div>

    <div class="lecture-body" *ngFor="let lecture of day.lectures">
      <!-- Calender lectures -->
      <div class="lecture-time">{{lecture.time.start}} - {{lecture.time.end}}</div>
      <div class="lecture-information" *ngIf="lecture.check==''" (click)="lecture.onCheck()">
        <!-- div jakaa tiedon hyvin eri riveille ja sillä voi myös luokitella css tyylejä tarvittaessa -->
        <div>{{lecture.course.id}}</div>
        <div>{{lecture.course.name}}</div>
        <div>{{lecture.course.room}}</div>
      </div>
      <div class="lecture-information lecture-check-true" *ngIf="lecture.check=='true'" (click)="lecture.onCheck()">
        <!-- div jakaa tiedon hyvin eri riveille ja sillä voi myös luokitella css tyylejä tarvittaessa -->
        <div>{{lecture.course.id}}</div>
        <div>{{lecture.course.name}}</div>
        <div>{{lecture.course.room}}</div>
      </div>
      <div class="lecture-information lecture-check-false" *ngIf="lecture.check=='false'" (click)="lecture.onCheck()">
        <!-- div jakaa tiedon hyvin eri riveille ja sillä voi myös luokitella css tyylejä tarvittaessa -->
        <div>{{lecture.course.id}}</div>
        <div>{{lecture.course.name}}</div>
        <div>{{lecture.course.room}}</div>
      </div>
    </div>
  </div>
</div>
