html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.menu-desktop {
    margin-top: 16px;
    margin-bottom: 20px;
}

@media screen and (min-width: 481px) {
  .menu-mobile {
    display:none;
  }
}
@media screen and (max-width: 480px) {
  .menu-desktop {
    display:none;
  }
  .menu-mobile {

  }
}
