<div class="login">
    <div class="login-base">
        <h1 class="login-header">Haka login</h1>
        <form class="login-form" (ngSubmit)="onSubmit(username.value, password.value);">
          <span>Username</span><br>
          <input type="text" placeholder="Username" name=username required><br>
          <span>Password</span><br>
          <input type="password" placeholder="Password" name=password required><br>
          <button type="submit">Login</button><br>
          <a href="">Forgot password?</a>
        </form>

        <div class="login-alert">
            <!-- If login failed -->
            <span>Login alert</span>
        </div>
    </div>
</div>
