.calendar::selection {
color: red;
background: white;
}

.calendar::-moz-selection {
color: red;
background: white;
}

.calendar {

}

.calendar-header {
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 1px;
  margin: 5px;
}

.calendar-day {
  /* inline-block
  Täyttää vain tarvittavan verran ja tavaraa voi olla vierekkäin riveissä.

  */
  display: inline-block;
  padding: 5px;
}

.calendar-weekday {
  padding: 3px;
  font-weight: bold;
}
